<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> [%d{yyyy-MM-dd HH:mm:ss}]  %-5level - %msg%n </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/order-reports.log</file>
        <append>false</append>
        <encoder>
            <pattern> [%d{yyyy-MM-dd}]  - %msg%n </pattern>
        </encoder>
    </appender>


    <logger name="com.eduardoSantiag0.btg_order_reporting"
            level="info" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>